@charset "utf-8";
/* CSS Document */

.navegacao ul li:last-child a {
	background: #000000;
	color: #ffffff;
	cursor: default;
}
.menu-movel li:last-child a {
	background: #979384;
	color: #ffffff;
	cursor: default;
}